<html>
    <head>
        <title>Login page</title>
        <style>
            body{
                background-color: burlywood;
                color: white;
            }
        </style>
    </head>
    <body>
        <form method="post" action="/users/create-session">
            <table border="1">
                <tr>
                    <td>enter email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>enter password</td>
                    <td><input type="password" name="password"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>