<html>
    <head>
        <title>Profile Page</title>
        <style>
            body{
                background-color: brown;
                color:white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Your profile page</h1>
        <p><%  if(locals.user) { %>
            <%= user.email %>
            <%= user.username %>
            <img src="<%= user.avatar %>" height="200">

            
        <% } %>
    </p>

    </body>
</html>