<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="../../assets/images/fevicon/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HandTime</title>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>

<body class="sub_page">

    <!-- product section -->

    <section class="product_section ">
        <div class="container">
            <div class="product_heading">
                <h2>
                    Top Sale Watches
                </h2>
            </div>
            <div class="product_container">
                <tr *ngFor="let product of products">
                    <div class=" box ">
                        <div class="box-content ">
                            <div class="img-box ">
                                <img src="{{product.image}}" alt="">
                            </div>
                            <div class="detail-box ">
                                <div class="text ">
                                    <h6>Product Name: -{{product.title}}</h6>
                                    <h5>Price:- {{product.price}}</h5>
                                    <p>Description:- {{product.description}}</p>
                                    <h6>Category:- {{product.category}}</h6>
                                </div>
                                <!-- <div class="like ">
                                    <h6>
                                        Like
                                    </h6>
                                    <div class="star_container ">
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="btn-box ">
                            <button class="btn btn-primary" (click)=addtocart(product)>Add to cart</button>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </section>

    <!-- end product section -->

    <!-- info section -->
    <section class="info_section layout_padding2 ">
        <div class="container ">
            <div class="info_logo ">
                <h2>
                    HandTime
                </h2>
            </div>
            <div class="row ">

                <div class="col-md-3 ">
                    <div class="info_contact ">
                        <h5>
                            About Shop
                        </h5>
                        <div>
                            <div class="img-box ">
                                <img src="../../../assets/images/location-white.png " width="18px " alt=" ">
                            </div>
                            <p>
                                Address
                            </p>
                        </div>
                        <div>
                            <div class="img-box ">
                                <img src="../../../assets/images/telephone-white.png " width="12px " alt=" ">
                            </div>
                            <p>
                                +01 1234567890
                            </p>
                        </div>
                        <div>
                            <div class="img-box ">
                                <img src="../../../assets/images/envelope-white.png " width="18px " alt=" ">
                            </div>
                            <p>
                                demo@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="info_info ">
                        <h5>
                            Informations
                        </h5>
                        <p>
                            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="info_insta ">
                        <h5>
                            Instagram
                        </h5>
                        <div class="insta_container ">
                            <div class="row m-0 ">
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w1.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w2.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w3.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w4.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w5.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-4 px-0 ">
                                    <a href=" ">
                                        <div class="insta-box b-1 ">
                                            <img src="../../../assets/images/w6.png " alt=" ">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form action=" ">
                            <input type="email " placeholder="Enter your email ">
                            <button>
                Subscribe
              </button>
                        </form>
                        <div class="social_box ">
                            <a href=" ">
                                <img src="../../../assets/images/fb.png " alt=" ">
                            </a>
                            <a href=" ">
                                <img src="../../../assets/images/twitter.png " alt=" ">
                            </a>
                            <a href=" ">
                                <img src="../../../assets/images/linkedin.png " alt=" ">
                            </a>
                            <a href=" ">
                                <img src="../../../assets/images/youtube.png " alt=" ">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->


    <!-- jQery -->
    <script type="text/javascript " src="../../assets/js/jquery-3.4.1.min.js "></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <!-- bootstrap js -->
    <script type="text/javascript " src="../../assets/js/bootstrap.js "></script>
    <!-- custom js -->
    <script type="text/javascript " src="../../assets/js/custom.js "></script>
    <!-- Google Map -->
    <script src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235013.70718547903!2d72.43965856479674!3d23.020497766276254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1652857211368!5m2!1sen!2sin "></script>
    <!-- End Google Map -->

</body>

</html>