<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form [formGroup]="registerdata" (ngSubmit)="RegisterForm()" novalidate>

                                <div class="form-outline flex-fill mb-0">
                                    <input type="text" id="form3Example1c" class="form-control" formControlName="name" />
                                    <label class="form-label" for="form3Example1c">Your Name</label>
                                    <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                                        <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                                        <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
                                    </div>
                                </div>

                                <div class="form-outline flex-fill mb-0">
                                    <input type="email" id="form3Example3c" class="form-control" formControlName="email" />
                                    <label class="form-label" for="form3Example3c">Your Email</label>
                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                                        <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                                        <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                                    </div>
                                </div>

                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="form3Example4c" class="form-control" formControlName="password" autoComplete="off" />
                                    <label class="form-label" for="form3Example4c">Password</label>
                                    <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                                        <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
                                        <div *ngIf="f['password'].errors && f['password'].errors['minlength']">password minimum of 5 characters</div>
                                    </div>
                                </div>

                                <!-- <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                </div> -->

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                     I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>