<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0">Angular</span>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form [formGroup]="login" (ngSubmit)="loginform()" novalidate style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>


                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example18" class="form-control form-control-lg" formControlName="email" />
                            <label class="form-label" for="form2Example18">Email address</label>
                            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example28" class="form-control form-control-lg" formControlName="password" />
                            <label class="form-label" for="form2Example28">Password</label>
                            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                                <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
                                <div *ngIf="f['password'].errors && f['password'].errors['minlength']">password minimum of 5 characters</div>
                            </div>
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="login.invalid">Login</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                        <p>Don't have an account? <a href="#!" class="link-info" [routerLink]="['/authentication/register']">Register here</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://source.unsplash.com/user/c_v_r" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>








<!-- <div class="container-fluid">
    <h2>Login User</h2>
    <form [formGroup]="login" (ngSubmit)="loginform()" novalidate>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">password is required.</div>
                <div *ngIf="f['password'].errors && f['password'].errors['password']">Please, enter valid password</div>
            </div>
        </div>
        <button class="btn btn-default" type="button" [routerLink]="['/authentication/register']">Register</button>
        <button class="btn btn-success" type="submit" [disabled]="login.invalid">Login</button>
    </form>
</div> -->