<html>
    <head>
        <title>Home page</title>
        <style>
            body{
                background-color: blue;
                color:white;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <h1>Home Post Page</h1>

        <form method="post" action="/posts/create">
            <textarea name="content" rows="10" cols="30"></textarea>
            <input type="submit" name="submit" value="submit">
        </form>

        <br><br><br><br><br>

        <ul>
        <%  for(var po of posts) {  %>
            <%  if(po.user.id == user_id )   { %>
            <li><%= po.content %> ---- <%= po.user.username %></li>
            <% } %>
        <%  } %>
    </ul>
    </body>
</html>

<script>
    <% if(flash.success && flash.success.length > 0)  { %>
            new Noty({
                text : "<%= flash.success %>",
                timeout : 1500,
                theme : 'relax',
                layout : 'topRight',
                type : 'success'
            }).show();
 <% } %>
</script>