<html>
    <head>
        <title>Register page</title>
        <style>
            body{
                background-color: burlywood;
                color: white;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <body>

        <% if(flash.success ) { %>
            <%= flash.success %>
        <% } %>
        <form method="post" action="/registerUser" enctype="multipart/form-data">
            <table border="1">
                <tr>
                    <td>enter Username</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>enter email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>enter password</td>
                    <td><input type="text" name="password"></td>
                </tr>
                <tr>
                    <td>enter confirm password</td>
                    <td><input type="password" name="cpass"></td>
                </tr>

                <tr>
                    <td>Upload Avatar</td>
                    <td><input type="file" name="avatar"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>

<script>
    <% if(flash.success && flash.success.length > 0)  { %>
            new Noty({
                text : "<%= flash.success %>",
                timeout : 1500,
                theme : 'relax',
                layout : 'topRight',
                type : 'success'
            }).show();
 <% } %>
</script>