<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
</head>

<body>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i = index">
                <td>{{i+1}}</td>
                <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                <td>{{item.title}}</td>
                <td>{{item.price}}</td>
                <td style="width: 25%;">{{item.category}}</td>
                <th style="width: 12%;">{{item.description}}</th>
                <td style="width: 12%;">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                        <!-- Quantity -->
                        <div class="d-flex mb-4" style="max-width: 300px">
                            <button class="btn btn-primary px-3 me-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>

                            <div class="form-outline">
                                <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                                <label class="form-label" for="form1">Quantity</label>
                            </div>

                            <button class="btn btn-primary px-3 ms-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <!-- Quantity -->
                    </div>
                </td>
                <td style="width: 12%;">{{item.price}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm me-1 mb-2 delellte" data-mdb-toggle="tooltip" title="Remove item">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="5"></td>

                <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                <td><button class="btn btn-success">Checkout</button></td>
                <td><strong>Grand Total : ${{grandTotal}}</strong></td>
            </tr>

        </tbody>
    </table>

</body>

</html>