<div class="panel" style="padding: 20px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-sm-5 col-xs-12">
                <input type="text " class="form-control " placeholder="Search ">
            </div>
        </div>
    </div>
    <div class="panel-body table-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Age</th>
                    <th>Job Title</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Williamson</td>
                    <td>31</td>
                    <td>iOS Developer</td>
                    <td>US</td>
                    <td>
                        <ul class="action-list ">
                            <li><a href="# " data-tip="edit "><i class="fa fa-edit "></i></a></li>
                            <li><a href="# " data-tip="delete "><i class="fa fa-trash "></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Williamson</td>
                    <td>31</td>
                    <td>iOS Developer</td>
                    <td>US</td>
                    <td>
                        <ul class="action-list ">
                            <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i>Edit</a></li>
                            <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i>Remove</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Williamson</td>
                    <td>31</td>
                    <td>iOS Developer</td>
                    <td>US</td>
                    <td>
                        <ul class="action-list ">
                            <li><a href="# " data-tip="edit "><i class="fa fa-edit "></i></a></li>
                            <li><a href="# " data-tip="delete "><i class="fa fa-trash "></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Williamson</td>
                    <td>31</td>
                    <td>iOS Developer</td>
                    <td>US</td>
                    <td>
                        <ul class="action-list ">
                            <li><a href="# " data-tip="edit "><i class="fa fa-edit "></i></a></li>
                            <li><a href="# " data-tip="delete "><i class="fa fa-trash "></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer ">
        <div class="row">
            <div class="col-sm-6 col-xs-6 ">
                <ul class="pagination">
                    <li>
                        <a href="# ">
                            <</a>
                    </li>
                    <li class="px-1"><a href="# ">1</a></li>
                    <li class="px-1"><a href="# ">2</a></li>
                    <li class="px-1"><a href="# ">3</a></li>
                    <li class="px-1"><a href="# ">4</a></li>
                    <li class="px-1"><a href="# ">5</a></li>
                    <li class="px-1"><a href="# ">></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>