<!-- footer section -->
<div class="fixed-bottom">
    <section class="footer_section">
        <div class="container">
            <p>
                <span id="displayYear"></span> All Rights Reserved By
                <a href=".">Testing</a>
            </p>
        </div>
    </section>
</div>
<!-- footer section -->