<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" [formGroup]="registerdata" (ngSubmit)="RegisterForm()" novalidate>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control" formControlName="name" />
                                            <label class="form-label" for="form3Example1c">Your Name</label>
                                            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                                                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                                                <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control" formControlName="email" />
                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                                                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                                                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example4cd" class="form-control" formControlName="phone" />
                                            <label class="form-label" for="form3Example4cd">Phone</label>
                                            <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
                                                <div *ngIf="f['phone'].errors && f['phone'].errors['required']">phone is required.</div>
                                                <div *ngIf="f['phone'].errors && f['phone'].errors['minlength']">phone should be 10 character.</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control" formControlName="password" autoComplete="off" />
                                            <label class="form-label" for="form3Example4c">Password</label>
                                            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                                                <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
                                                <div *ngIf="f['password'].errors && f['password'].errors['minlength']">password minimum of 5 characters</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button class="btn btn-primary btn-lg" [disabled]="registerdata.invalid" type="submit">Register</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <div class="container-fluid">
    <h2>Register User</h2>
    <form [formGroup]="registerdata" (ngSubmit)="RegisterForm()" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">phone:</label>
            <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
            <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
                <div *ngIf="f['phone'].errors && f['phone'].errors['required']">phone is required.</div>
                <div *ngIf="f['phone'].errors && f['phone'].errors['minlength']">phone should be 10 character.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" placeholder="Password" formControlName="password" autoComplete="off">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
                <div *ngIf="f['password'].errors && f['password'].errors['minlength']">password minimum of 5 characters</div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="registerdata.invalid" type="submit">Register</button>
    </form>
</div> -->