<div class="container-fluid">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="form4Example1" class="form-control" formControlName="categoryname" />
            <label class=" form-label " for="form4Example1 ">Category Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4 ">
            <input type="email " id="form4Example2 " class="form-control " formControlName="price" />
            <label class="form-label " for="form4Example2 ">Price</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4 ">
            <textarea class="form-control " id="form4Example3 " rows="4 " formControlName="description"></textarea>
            <label class=" form-label " for="form4Example3 ">Product description</label>
        </div>


        <div class="mb-3">
            <label for="formFile" class="form-label">Default file input example</label>
            <input class="form-control" type="file" id="formFile" formControlName="productimage">
        </div>

        <!-- Checkbox -->
        <div class=" form-check d-flex justify-content-center mb-4 ">
            <input class="form-check-input me-2 " type="checkbox " value=" " id="form4Example4 " checked />
            <label class="form-check-label " for="form4Example4 ">
                Send me a copy of this message
            </label>
        </div>

        <!-- Submit button -->
        <button type="submit " class="btn btn-primary btn-block ">Send</button>
        <button type="button " class="btn btn-danger btn-block " (click)="back() ">Cancel</button>
    </form>
</div>