<div class="container-fluid">
    <h2>Add Category</h2>
    <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-outline mb-4 mt-5">
            <input type="text" id="form5Example1" class="form-control" formControlName="name" />
            <label class="form-label" for="form5Example1"><b>Name</b></label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send</button>
    </form>
</div>